﻿@model TicTacToe.Models.TicTacToeGame.Board
@using TicTacToe.Models.TicTacToeGame

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="text-center">
        <h2>Крестики-нолики</h2>
    </div>
    <p class="text-center">
        <select id="level" class="selectpicker text-left widthAuto" style="width:auto;">
            <option value="1">Легкий</option>
            <option value="3" selected>Средний</option>
            <option value="6">Сложный</option>
        </select>
        <input type="button" id="restart" value="Новая игра" class="btn btn-default" />
    </p>
    <div class="text-center">
        <div id ="x" class="score">
            <p class="player1">x</p>
            <p id="score1">0</p>
        </div>
        <div id="o" class="score">
            <p class="player2">o</p>
            <p id="score2">0</p>
        </div>
        <div id="message">
            <h2>Ходит Х</h2>
        </div>
    </div>
    
    </div>
<div class="container">
    <div id ="game"class="col-xs-9 col-sm-9 col-md-7 col-lg-5 center-block board">
          @{
              Html.RenderPartial("BoardDraw", Model);
        }
        </div>
    </div>




