﻿.options {
    border-collapse: collapse;
    margin: 12px auto 0;
    max-width: 400px;
    width: 100%;
}

.player1{
    color:sandybrown
}

.player2{
    color:darkseagreen
}
.winner{
    color:  dimgrey;
}
.score {
    font-size: 30px;
    display: inline-block;
    color: inherit;
    background-color: #eee;
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
.turn {
    display: inline-block;
    margin: 10px;
}
.board{
    float: none !important;
    font-size: 60px;
}
    .board li {
        padding: 0;
        border-collapse: collapse;
        width: 33.33333%;
        display: inline;
        float: left;
        cursor: pointer;
      
    }

    .board ul {
        padding: 0;
    }

    .board p {
        margin: 0;
    }

.border-bottom {
    border-bottom: 5px solid saddlebrown;
}
.border-right {
    border-right: 5px solid saddlebrown;
}
.cell {
    position: relative;
    width: 100%;
}
    .cell p {
           
    }
.cell-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.cell-val {
    display: table-cell;
    vertical-align: middle;
}
.widthAuto{
    width:auto !important;
}